h1 {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding-bottom: 20px;
}

h2{
    border-color: red;
    border-width: 3px;
    border-style: solid;
    color: grey;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;    
}

h3{
    color: black;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    border-color: red;
    border-width: 3px;
    border-style: solid;
}

button {
    color: red;
    background-color: white;
    font-size: 36px;
    border-radius: 12px;
    height: 60px;
    font: Georgia; 
    border: 2px solid red;
    display: inline-block;
    transition-duration: 0.6s;
}

button:hover {
    background-color:red;
    color: white;
    border: red;
    font-size: 36px;
    border-radius: 100px;
    border-top: 30px;
}

.rating
{
    position: absolute;
    top: 1800px;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(180deg);
    display: flex;
}

.rating input
{
    display: none;
}

.rating label
{
    display: block;
    cursor: pointer;
    width: 50px;
}

.rating label:before
{
    content: '\f005';
    font-family: fontAwesome, Helvetica, Arial, sans-serif;
    position: relative;
    display: block;
    font-size: 50px;
    color: #101010;
}

.rating label:after {
    content: '\f005';
    font-family: fontAwesome, Helvetica, Arial, sans-serif;
    position: absolute;
    display: block;
    font-size: 50px;
    color: #ff1f1f;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after
{
    opacity: 1;
}
